<link rel="stylesheet" type="text/css" href="/footer.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 

    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="/int">Home</a>

                <a href="/about">About</a>

                <a href="/contact">Contact</a>

                <a href="/portfolio">Portfolio</a>

                <a href="/services">Services</a>

            
            </p>

            <p>Company Name &copy; 2019</p>
        </div>

    </footer>