<!DOCTYPE html>
<html>
<head>
	<title>INTERIOR DESIGN</title>
	<link rel="stylesheet" type="text/css" href="/public/header.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
</head>
<body>
		<div class="topnav" id="myTopnav">
				<h2>IVERY</h2>
		  <a href="/services" class="active">SERVICES</a>
		  <a href="/portfolio">PORTFOLIO</a>
		  <a href="/about">ABOUT</a>
		  <a href="/contact">CONTACT</a>
		  <a href="/int">HOME</a>
		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		  </a>
		</div>
