<%- include("partials/header");-%> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/about.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet"> 
    <h2>ABOUT IVERY</h2>
    <div class="container">
        
          <p>With an eye for color and scale, Avery specializes in curating distinctive spaces, combining antique and modern elements of style in a way that’s at once contemporary and timeless. 

              That style is informed by the breadth and variety of her experience. Working alongside leading New York City  decorators Amanda Nisbet and Jamie Drake, and designing for clients in, Maine, Martha's Vineyard, the Pacific Northwest, and Texas has resulted in a signature look--incorporating classic American craft, New York glamour, and vibrant Southwestern color--that provides clients with spaces that are functional, fresh and uniquely their own. 
              
              Avery earned a BFA in Interior Design from the University of Georgia, and cut her professional teeth on the fast paced, no nonsense, design industry in Manhattan. After great success in the city followed by a 5 year stint in Portland, ME, she moved back to her home state, and is quickly making her mark on the burgeoning city of Austin, Texas.
              
              Contact us to learn about how we can help you craft the perfect space.</p>
        
      </div> 


<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

<%- include("partials/footer"); -%> 