<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>INTERIOR DESIGN</title>
	<link rel="stylesheet" type="text/css" href="int.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Passion+One&family=Playfair+Display&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="topnav" id="myTopnav">
		<h2>IVERY</h2>
  <a href="/services" class="active">SERVICES</a>
  <a href="/portfolio">PORTFOLIO</a>
  <a href="/about">ABOUT</a>
  <a href="/contact">CONTACT</a>
  <a href="/int">HOME</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="row">
  <div class="animated-title">
    <div class="text-top">
      <div>
        <span>Make it</span>
        <span>Simple but</span>
      </div>
    </div>
    <div class="text-bottom">
      <div><strong>Significant!</strong></div>
    </div>
  </div>


	</div> 
  <div class="col sqs-col-12 span-12">
  <div class="first">
		<p>LET'S WORK TOGETHER TO DESIGN A JOYFUL, COHESIVE, INSPIRING SPACE — ONE THAT'S A REFLECTION OF YOUR UNIQUE PERSONALITY, INTERESTS, AND DAY-To-DAY NEEDS.</p>
		<hr>
  </div>
  </div>
  <div class="ok">
    <div class="wrapper">
      <div class="single-img">
        <img src="https://cdn.decoist.com/wp-content/uploads/2014/10/Exquisite-way-to-use-red-in-the-living-room-870x520.jpg">
      </div>
      <div class="single-img">
        <img src="https://cdn.home-designing.com/wp-content/uploads/2018/05/stylish-mid-century-style-green-living-room-1024x652.jpg">
      </div>
      <div class="single-img">
        <img src="https://static.toiimg.com/thumb/msid-57772079,width-800,height-600,resizemode-75,imgsize-393408,pt-32,y_pad-40/57772079.jpg">
      </div>
      <div class="single-img">
        <img src="https://cf.ltkcdn.net/interiordesign/images/orig/228057-2121x1414-living-room-with-accessories.jpg">
      </div>
      
    </div>
  </div>
  
<div class="quote">
  <div>
    <div class="box box1">
      <p>“Understanding the person or people living in a home is a far greater need in design than focusing purely on the aesthetics. The home is designed around emotional needs.”</p>
       <h2> ― Amanda Talbot </h2>
    </div>
    <div class="bg"></div>
  </div>
  <div>
    <div class="box box2">
      <p>“Realism is just the start – our art lies in crafting immersive experiences that evoke emotion and inspire action. Virtual environments that homebuyers will want to visit, explore and fall in love with”</p>
       <h2> Unknown </h2>
    </div>
    <div class="bg"></div>
  </div>
  <div>
    <div class="box box3">
      <p>"We bring real estate and storytelling together. As a team of architects and technologists, we are uniquely qualified to translate your property vision into visuals that will transport homebuyers and investors alike”</p>
       <h2> Unknown </h2>
    </div>
    <div class="bg"></div>
  </div>
</div>
	
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  </body>
 
  
	
   
   
  
   <%- include("partials/footer");  -%>  
