
<%- include("partials/header");-%> 
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Enriqueta&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="/portfolio.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="port">
    <h2><strong>PORTFOLIO</strong></h2>
    <div class="container">
		<div class="box">
			<img src="https://www.avso.org/wp-content/uploads/files/1/1/4/orange-interior-design-fresh-bright-ideas-4-114.jpg">
		</div>
		<div class="box">
			<img src="https://cdn.home-designing.com/wp-content/uploads/2015/06/warm-brown-design.jpg">
		</div>
		<div class="box">
			<img src="https://www.impressiveinteriordesign.com/wp-content/uploads/2016/01/Meaning-Of-Red-Color-In-Interior-Design-And-Decorating-Ideas-2-1.jpg">
		</div>
		<div class="box">
			<img src="https://donpedrobrooklyn.com/wp-content/uploads/2017/05/high-head-board-purple-bedroom.jpg">
		</div>
	</div>
	<div class="container">
		<div class="box">
			<img src="https://www.ofdesign.net/wp-content/uploads/images/23-cozy-living-room-interior-design-ideas-with-decoration-in-bright-colors-0-1272484028.jpg">
		</div>
		<div class="box">
			<img src="https://cdn.home-designing.com/wp-content/uploads/2015/10/shower-tub.jpg">
		</div><div class="box">
			<img src="https://i.pinimg.com/originals/82/d8/76/82d876d79c20015870fe6a9ea2fde767.jpg">
		</div>
		<div class="box">
			<img src="https://mondolandscapes.com.au/wp-content/uploads/2019/08/V2A5314.jpg">
		</div>
	</div>
</div>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
<%- include("partials/footer");  -%> 