<%- include("partials/header");-%> 
<link rel="stylesheet" type="text/css" href="/services.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merienda+One|Old+Standard+TT&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Merienda+One|Playball&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet"> 
	<h2>IVERY DESIGN</h2>
<div class="first">
	
	<h2><strong>Inetrior Design</strong></h2>
	<p>At Avery Cox Design, people in places is our game. We believe that the best spaces are truly individual and a reflection of you or your business. We strive to create thoughtful interiors that delight and inspire you on a daily basis, and we scour the globe to find you the most unique and beautiful pieces to enjoy for a life time. ACD values function, comfort, and beauty which we achieve through classic design practices and an artistic approach to composition.  Beginning with research and inspiration, we move through the stages of design to find you the most efficient, functional, and elegant solution, while adhering to practical measures such as budget, accessibility, and timeline.</p>
	<h2><strong>Interior Consulting</strong></h2>
	<p>Don’t have a huge budget? No problem. For an hourly fee we will walk you through ideas, brainstorm solutions, or provide sourcing for specific problems such as layout, paint color, or where to find affordable art.</p>
	<h2><strong>Styling</strong></h2>
	<p>Pulling it all together is our specialty; from finding the perfect antique, to placing that blanket just so, to creating fantastic tablescapes. ACD can help make your product, home, or business look great for an event, photo shoot, or a visit from the Queen of England.

Ready to get started?  Drop us a line.</p>
</div>
<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}

		
	  </script>

<%- include("partials/footer"); -%> 